html, body, div, span, object, 
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
 pre, abbr, address, cite, code, del, dfn, em, img,
 ins, kbd, q, samp, small, strong, sub, sup, var, b,
 i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td, article,
 aside, figure, footer, header,  hgroup, menu, nav, section, menu, time,
 mark, audio, video 
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:
	baseline;background:transparent;}


/* Main Components */

body
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
}

header
{
	background-color: #006699;
	height: 70px;
	padding-bottom: 10px;
	padding-top: 10px;
	-moz-box-shadow: 0px 2px 5px #888;
	-webkit-box-shadow: 0px 2px 5px #888;
	box-shadow: 0px 2px 5px #888;
}

#headerContent
{
	width: 800px;
	margin: 0 auto;
}

#heading
{
	color: white;
	text-decoration: none;
	display: inline-block;

	font-size: 2.9em;

	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#heading:hover
{
	color: #FF6600;
}

#pagewrapper 
{
	margin: 0 auto;
	width: 800px;
	margin-top: 20px;
}

#pagewrapper h2
{
	font-size: 1.8em;
}

#mainFeed
{
	padding: 20px;
}

.photoFrame
{
	text-align: center;
	display: inline-block;
	background-color: #FFFFEE;
	font-size: 0.8em;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
	margin: 5px;
}

.photoFrame:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

.photoFrame img
{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

.userlink
{
	color: #77AADD;
	text-decoration: none;
}

.pictime
{
	font-style: italic;
}

#signinlink
{
	padding: 10px;
	display: inline-block;
	margin-left: 475px;
	text-decoration: none;
	background-color: #33cc33;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#signinlink:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#expandedImage
{
	padding: 5px;
	text-align: center;
	display: inline-block;
	background-color: #FFFFEE;
	font-size: 0.8em;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
	margin: 5px;
}

#expandedImage img
{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

.commenttime
{
	font-style: italic;
	font-size: 0.8em;
	padding-top: 4px;
	padding-bottom: 4px;
}

#comment
{
	padding: 10px;
}

#comments
{
	padding: 10px;
}

#comments h3
{
	font-size: 1.5em;
}