html, body, div, span, object, 
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
 pre, abbr, address, cite, code, del, dfn, em, img,
 ins, kbd, q, samp, small, strong, sub, sup, var, b,
 i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td, article,
 aside, figure, footer, header,  hgroup, menu, nav, section, menu, time,
 mark, audio, video 
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:
	baseline;background:transparent;}


/* Main Components */

body
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
	background-image: url('miscimg/backTile.png');
}

header
{
	background-color: #006699;
	height: 70px;
	padding-bottom: 10px;
	padding-top: 10px;
	-moz-box-shadow: 0px 2px 5px #888;
	-webkit-box-shadow: 0px 2px 5px #888;
	box-shadow: 0px 2px 5px #888;
}

#headerContent
{
	width: 800px;
	margin: 0 auto;
}

#heading
{
	color: white;
	text-decoration: none;
	display: inline-block;

	font-size: 2.9em;

	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#heading:hover
{
	color: #FF6600;
}

#pagewrapper 
{
	margin: 0 auto;
	width: 800px;
	margin-top: 20px;
	text-align: left;
}

#pagewrapper h2
{
	font-size: 1.8em;
	text-align: center;
}

#mainFeed
{
	padding: 10px;
}

.photoFrame
{
	text-align: center;
	display: inline-block;
	background-color: #FFFFEE;
	font-size: 0.8em;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
	margin: 5px;
}

.photoFrame:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

.photoFrame img
{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

.userlink
{
	color: #FF6600;
	text-decoration: none;
}

.userlink:hover
{
	text-decoration: none;
	color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

.edit
{
	
	margin-bottom: 2px;
	display: inline-block;
	padding: 2px;
	text-decoration: none;
	background-color: #FF6600;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

.edit:hover
{
	margin-bottom: 2px;
	display: inline-block;
	padding: 2px;
	text-decoration: none;
	background-color: #33CC33;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

.username
{
	color: #77AADD;
}

.pictime
{
	font-style: italic;
}

#rsslink
{
	padding: 10px;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 20px;
	text-decoration: none;
	background-color: rgb(255, 152, 51);
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#rsslink:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#signinlink
{
	padding: 10px;
	display: inline-block;
	margin-left: 90px;
	text-decoration: none;
	background-color: #33cc33;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#signoutlink
{
	padding: 10px;
	display: inline-block;
	margin-left: 5px;
	text-decoration: none;
	background-color: #CC3333;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#uploadlink
{
	padding: 10px;
	display: inline-block;
	margin-left: 40px;
	text-decoration: none;
	background-color: #66AADD;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#uploadlink:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#signoutlink:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#signinlink:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#expandedImage
{	
	width: 720px;
	display: block;
	padding: 5px;
	text-align: center;	
	background-color: #FFFFEE;
	font-size: 0.8em;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#expandedImage img
{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}

.commenttime
{
	font-style: italic;
	font-size: 0.8em;
	padding-top: 4px;
	padding-bottom: 4px;
}

#comment
{
	padding: 10px;
}

#comments
{
	padding: 10px;
}

#comments h3
{
	font-size: 1.5em;
}

#back
{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	background-color: #006699;
	border-radius: 5px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#back:hover
{
	background-color: #99CCFF;
	-o-transition:.7s;
  	-ms-transition:.7s;
  	-moz-transition:.7s;
  	-webkit-transition:.7s;
  	/* ...and now for the proper property */
  	transition:.7s;
}

#addcomment
{
	text-align: center;
}

#commentlist
{
	list-style: none;
}

.button
{
	border: none;
	background: #66cc33 url("miscimg/alert-overlay.png") repeat-x;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-size: 22px;
	padding: 8px 14px 9px;
}

textarea
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
	/*border: none;*/
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}

#searchbox
{
	padding: 5px;
    border: none;
	background: #FFFFEE url("miscimg/alert-overlay.png") repeat-x;
	display: inline-block;
	margin-left: 50px;
	color: #aaa;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-size: 20px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #333;
	-webkit-box-shadow: 0px 2px 5px #333;
	box-shadow: 0px 2px 5px #333;
}
#imageUploader
{
	margin-top: 50px;
	text-align: center;
}

#loginwrapp
{
	float: left;
	text-align: center;
	margin-left: 100px;

}

#loginwrapp ul
{
	list-style: none;
}

#signupwrapp
{
	float:left;
	text-align: center;
	margin-left: 100px;

}

#signupwrapp ul
{
	list-style: none;
}

.login
{
	border: none;
	background: #FFFFEE; b
	display: inline-block;	
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	width: 250px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	font-size: 20px;
	padding: 8px 14px 9px;
}

#display
{
width:250px;
display:none;
float:right; margin-right:30px;
border-left:solid 1px #dedede;
border-right:solid 1px #dedede;
border-bottom:solid 1px #dedede;
overflow:hidden;
}

.loggedinas
{
	color: white;
}

#editdescr
{
	padding: 20px;
}

#delete
{
	cursor: pointer;
	margin-left: 50px;
	color: white;
	border: none;
	background: #CC3333 url("miscimg/alert-overlay.png") repeat-x;
	display: inline-block;	
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	font-size: 20px;
	padding: 8px 14px 9px;
}
